/* Header */

position: absolute;
width: 1920px;
height: 120px;



/* Header */

position: absolute;
width: 1920px;
height: 120px;



/* Rectangle 1 */

position: absolute;
visibility: hidden;
width: 1791px;
height: 82px;

border-radius: 121px;


/* Rectangle 1868 */

position: absolute;
width: 1920px;
height: 120px;

background: #F0F0F0;


/* Button - Liquid Glass - Text */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 20px;
gap: 4px;
isolation: isolate;

position: absolute;
width: 213px;
height: 69px;

border-radius: 1000px;


/* BG */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Blur */

position: absolute;
left: -26px;
right: -26px;
top: -26px;
bottom: -26px;

opacity: 0.67;


/* Mask */

position: absolute;
left: -50px;
right: -50px;
top: -50px;
bottom: -50px;

background: #FFFFFF;


/* Shape */

position: absolute;
left: 76px;
right: 76px;
top: 76px;
bottom: 76px;

background: #000000;
border-radius: 1000px;


/* Blur */

position: absolute;
left: 26px;
right: 26px;
top: 28px;
bottom: 24px;

background: rgba(0, 0, 0, 0.04);
background-blend-mode: hard-light;
filter: blur(10px);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 1000px;


/* Fill */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #5C5C5C;
background-blend-mode: plus-darker, normal, color-dodge;
border-radius: 296px;


/* Glass Effect */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(0, 0, 0, 0.004);
border-radius: 296px;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 142px;
height: 36px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Symbol */

width: 142px;
height: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'ss16' on;

color: #4A4A4A;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Menu / Menu_Alt_05 */

position: absolute;
width: 69px;
height: 69px;



/* Group 61474 */

position: absolute;
width: 69px;
height: 69px;



/* Button - Liquid Glass - Text */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 20px;
gap: 4px;
isolation: isolate;

position: absolute;
width: 69px;
height: 69px;

border-radius: 1000px;


/* BG */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Blur */

position: absolute;
left: -26px;
right: -26px;
top: -26px;
bottom: -26px;

opacity: 0.67;


/* Mask */

position: absolute;
left: -50px;
right: -50px;
top: -50px;
bottom: -50px;

background: #FFFFFF;


/* Shape */

position: absolute;
left: 76px;
right: 76px;
top: 76px;
bottom: 76px;

background: #000000;
border-radius: 1000px;


/* Blur */

position: absolute;
left: 26px;
right: 26px;
top: 28px;
bottom: 24px;

background: rgba(0, 0, 0, 0.04);
background-blend-mode: hard-light;
filter: blur(10px);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 1000px;


/* Fill */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(90deg, #FFFFFF 0%, #BCBCBC 100%);
background-blend-mode: plus-darker, normal, color-dodge;
border-radius: 296px;


/* Glass Effect */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(0, 0, 0, 0.004);
border-radius: 296px;


/* Text */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 0px;
height: 36px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Symbol */

width: 0px;
height: 30px;


mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
width: 29.19px;
height: 20.85px;

border: 4.17061px solid #4A4A4A;


/* Group 61469 */

position: absolute;
width: 1270px;
height: 24px;



/* Menu */

position: absolute;
width: 823px;
height: 24px;



/* SERVICE */

position: absolute;
width: 90px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;



/* WORKFLOW */

position: absolute;
width: 133px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;



/* PROJECTS */

position: absolute;
width: 109px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;



/* CLIENTS */

position: absolute;
width: 87px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;



/* CONTACT */

position: absolute;
width: 100px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Logo 1 */

position: absolute;
width: 196.5px;
height: 18px;

background: url(Logo.png);


/* Burger */

position: absolute;
width: 50.05px;
height: 50.05px;



/* menu-alt-05-svgrepo-com 1 */

position: absolute;
width: 50.05px;
height: 50.05px;

mix-blend-mode: plus-darker;
